.btn-random2 {
    color: #fff;
    outline: 0;
    background: #f39c12;
    border: 1px solid #eee;
    padding: 6px 12px 7px;
    margin: 40px auto;
    border-radius: 100px;
    transition: all .6s;
    display: block;
}
.btn-random2:hover,.btn-random2:active {
    opacity:.8;box-shadow:0 10px 20px rgba(0,0,0,0.19),0 6px 6px rgba(0,0,0,0.23)
}
.random-posts2 {
    margin: 20px 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}
.random-posts2 .item {
    width: 32%;
    margin-right: 2%;
    margin-bottom: 20px;
}
.random-posts2 .item:nth-of-type(3n) {
    margin-right: 0;
}
.random-posts2 .item .thumb {
    overflow: hidden;
    height: auto;
}
.random-posts2 .item .thumb img {
    -o-object-fit: cover;
    -object-fit: cover;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -box-sizing: border-box;
    -border: 1px solid #f6f6f6;
}
.random-posts2 .item .thumb img:hover {
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    -o-transition: transform 0.3s ease;
    -o-transition: -o-transform 0.3s ease;
    -moz-transition: transform 0.3s ease, -moz-transform 0.3s ease;
    -webkit-transform: scale(1.1) rotate(-1.3deg);
    -ms-transform: scale(1.1) rotate(-1.3deg);
    -moz-transform: scale(1.1) rotate(-1.3deg);
    -o-transform: scale(1.1) rotate(-1.3deg);
    transform: scale(1.1) rotate(-1.3deg);
}
.random-posts2 .item .content {
    margin-top: 10px;
}
.random-posts2 .item .content a {
    color: #333;
    font-weight: 600;
    font-size: 16px;
}
.random-posts2 .item .content a:hover {
    text-decoration: underline;
}
