.random3-post {
    position: relative;
    display: inline-block;
    margin: 1px auto;
    background: #f39c12;
    font-size: 1rem;
    border-radius: 10%;
    box-shadow: 0 2px 3px rgba(0,0,0,.06), 0 2px 3px rgba(0,0,0,.1);
}
.random3-post a.rdn-icon {
    color: #ffffff;
    cursor: pointer;
    display: block;
    padding: 14px 16px;
    font-size: 1.2rem;
}
.random3-post a.rdn-icon:before {
    content: "\f074";
    font-family: "FontAwesome";
    font-size: 16px;
}
.random3-post a.rdn-icon:hover {
    border-radius: 10%;
    opacity:.8;
    box-shadow:0 10px 20px rgba(0,0,0,0.19),0 6px 6px rgba(0,0,0,0.23);
}
